html, body {
    margin: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

#container {
    display: flex;
    height: 100vh;
}

/* Sidebar */
#sidebar {
    width: 280px;
    background: #0c2549;
    color: white;
    padding: 15px;
    overflow-y: auto;
    transition: 0.3s;
}

/* Collapse */
#sidebar.collapsed {
    width: 0;
    padding: 0;
    overflow: hidden;
}

/* Toggle button */
#toggleBtn {
    position: absolute;
    top: 50%;
    left: 310px;
    transform: translateY(-50%);
    background: #2563eb;
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
    border-radius: 0 5px 5px 0;
}

/* Inputs */
#sidebar select {
    width: 100%;
    padding: 6px;
    margin-top: 5px;
    border-radius: 4px;
    border: none;
}

/* Divider */
hr {
    margin: 15px 0;
    border: 0.5px solid #374151;
}

/* Search */
.search-container {
    position: relative;
    margin-top: 10px;
}

.search-container input {
    width: 85%;
    padding: 10px 10px 10px 35px;
    border-radius: 25px;
    border: none;
    outline: none;
}

.search-container i {
    position: absolute;
    top: 10px;
    left: 10px;
    color: gray;
}

/* Suggestions */
#suggestions {
    background: white;
    color: black;
    max-height: 120px;
    overflow-y: auto;
    border-radius: 5px;
}

#suggestions div {
    padding: 5px;
    cursor: pointer;
}

#suggestions div:hover {
    background: #ddd;
}

/* Button */
button {
    width: 100%;
    margin-top: 8px;
    padding: 8px;
    border: none;
    background: #2563eb;
    color: white;
    border-radius: 20px;
}

/* Legend */
.legend img {
    width: 20px;
    margin-right: 8px;
}

/* Map */
#map {
    flex: 1;
}